@media (min-width: 768px) {
	.navbar-right {
		float: right !important;
		/*margin-right: -40px !important;*/
	}
}
.div-module {
	padding: 28px 20px;
}

.a-name {
	padding-bottom: 9px !important;
}

.title {
	font-weight: bold;
	font-size: 16px;
}

.edition {
	margin-left: 33px;
}

.CodeMirror {
/*	max-height: -moz-calc(100% - 27px);
	max-height:-webkit-calc(100% - 27px);
	max-height: calc(100% - 27px);*/
}

.CodeMirror-merge-pane {
	-webkit-user-select: none; 
	-moz-user-select: none;    
	-khtml-user-select: none;  
	-ms-user-select: none;    
	-o-user-select: none;
	user-select: none;
}

.CodeMirror-merge-pane.can-copy{
	-webkit-user-select: auto; 
	-moz-user-select: auto;    
	-khtml-user-select: auto;  
	-ms-user-select: auto;    
	-o-user-select: auto;
	user-select: auto;
}

.CodeMirror-merge-copy {
	display: none;
}

.CodeMirror-selected {
	display: none;
}

.can-copy .CodeMirror-selected {
	display: block;
}

.text-header .title {
	background: #f8f8f8;
	padding-left: 36px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	font-weight: normal;
	margin-top: 26px;
}

.icons {
	float: right;
	margin-right: 15px;
	cursor: pointer;
}

.content-left {
	height: 100%;
}

.cont-right1 {
	height: 100%;
	padding-right: 0 !important;
}

.cont-right2 {
	height: 100%;
	padding: 0 !important;
}

.code {
	width: 100%;
	height: 100%;
	background-image: url(../../assets/codemirror.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

/*左侧*/
.matching-top {
	width: 100%;
}

.matching-bt {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
}

.matching-nr {
	margin: 0 auto;
	text-align: center;
	margin-top: 6px;
}

.matching-nr span {
	font-size: 14px;
	color: #666666;
}

.content-box {
	margin-bottom: 10px;
}

.content-box, .content-box div, .content-box span {
	text-align: left;
}

.info-head {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.info-box {
	float: left;
	width: 50%;
}

.nav-list {
	width: 100%;
}

.nav-list li {
	color: #000000;
	transition: .5s;
}

.nav-list li a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.collapse-toggle {
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.collapse-toggle img {
	padding-right: 7px;
}

.collapse-toggle span {
	color: #000000;
	font-size: 14px;
}

.collapse-toggle .l-arrow-b {
	padding-top: 13px;
	padding-right: 10px;
	float: right;
}

.toggle-list2 {
	display: none;
	overflow: hidden;
}

.toggle-list2 li {
	color: #333;
}

.toggle-list2 li a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.collapse-toggle1 {
	height: 30px;
	line-height: 30px;
	padding: 0 2px;
	cursor: pointer;
}

.collapse-toggle3 {
	height: 30px;
	line-height: 30px;
	padding: 0 23px;
	cursor: pointer;
}

.collapse-toggle1 img {
	padding-right: 8px;
	vertical-align: -2px;
	opacity: .4;
}

.collapse-toggle1 .l-arrow-b1 {
	padding-right: 8px;
	vertical-align: 1px;
}

.collapse-toggle2 .l-arrow-b3,
.collapse-toggle7 .l-arrow-b1{
	vertical-align: 2px;
}
.collapse-toggle1 span {
	font-size: 14px;
	opacity: .4;
	color: #333333;
}

.collapse-toggle2 img {
	opacity: 1;
}

.collapse-toggle2 span {
	opacity: 1;
}

.toggle-list3 {
	display: none;
	overflow: hidden;
}

.toggle-list3 .collapse-toggle3 {
	padding: 0 38px;
}

.toggle-list3 .collapse-toggle3 img {
	/*vertical-align: -1px;*/
	margin-right: 5px;
}

.toggle-list3 .collapse-toggle3 span {
	font-size: 14px;
	color: #333333;
}

.toggle-list3 .collapse-toggle4 {
	opacity: .4;
}

.toggle-list3 .collapse-toggle3 .l-arrow-b3 {
	vertical-align: -1px;
}

.toggle-list3 .collapse-toggle5 {
	padding: 0 57px;
}

.toggle-list4 {
	display: none;
	overflow: hidden;
}

.toggle-list4 li {
	color: #ffffff;
}

.toggle-list4 li a {}

.toggle-list4 .collapse-toggle6 {
	height: 30px;
	line-height: 30px;
	padding: 0 65px;
	cursor: pointer;
}

.toggle-list4 .opcbtm {
	opacity: .4;
}

.toggle-list4 .collapse-toggle6 .l-arrow-b1 {
	vertical-align: 2px;
}

.toggle-list4 .collapse-toggle6 .l-arrow-b2 {
	vertical-align: -4px;
}

.toggle-list4 .collapse-toggle6 span {
	font-size: 14px;
	color: #333333;
}

.toggle-list5 {
	display: none;
	overflow: hidden;
}

.toggle-list5 li {
	color: #ffffff;
}

.toggle-list5 li a {}

.toggle-list5 .collapse-toggle7 {
	height: 30px;
	line-height: 30px;
	padding: 0 65px;
	cursor: pointer;
}

.toggle-list5 .opcbtm {
	opacity: .4;
}

.toggle-list5 .collapse-toggle7 .l-arrow-b5 {
	vertical-align: 2px;
}

.toggle-list5 .collapse-toggle7 .l-arrow-b2 {
	vertical-align: -4px;
}

.toggle-list5 .collapse-toggle7 span {
	font-size: 14px;
	color: #333333;
}
.matching-sfq {
	margin-top: 35px;
	overflow: auto;
	max-height: calc(100% - 89px);
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
