/*看板开始*/
.board {
    position: relative;
    height: 88px;
    background-color: #ededed;
    padding-top: 44px;
    border-bottom: 1px solid #dedede;
}

.board-left {
    position: absolute;
    left: 40px;
    top: 27px;
}

.board-left span {
    font-size: 20px;
    color: #333333;
    position: relative;
    top: 2px;
    left: 4px;
}

.manage-content {
    padding: 20px 33px 0 40px;
    margin: 0 !important;
}

.UserManagement {
    padding: 0;
}

.UserManagement li {
    height: 45px;
    line-height: 42px;
    width: 100%;
    cursor: pointer;
}

.UserManagement .choosed {
    color: #fff;
    background: #8181ce;
}

.UserManagement .pull-left {
    margin-left: 20px;
    margin-right: 3px;
}

.UserManagement .pull-right {
    margin-right: 20px;
    margin-top: 14px;
    color: #fff;
}

.UserManagement .text {
    vertical-align: -2px;
}

#user-table td.bs-checkbox {
    vertical-align: middle;
    line-height: 16px;
}

#user-table th.bs-checkbox .th-inner {
    line-height: normal;
}

.bs-checkbox label {
    position: relative;
}

.bs-checkbox input[type='checkbox']{
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    outline: none;
    opacity: 0;
}

.bs-checkbox input[type="checkbox"] + span:before{
    content:"　";
    height: 16px;
    width: 16px;
    display: block;
    background: url(../../assets/func_img/unselected.png)  #fff;
    background-size: 100%;
}

.bs-checkbox input[type="checkbox"]:checked + span:before{
    background: url(../../assets/func_img/selected.png) #fff;
    background-size: 100%;
}

.search {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-bottom: 18px;
}

.search span {
    margin-top: 22px;
}

.input-group {
    width: 262px;
}

.filter {
    width: 14px;
    height: 16px;
    background: url(../../assets/func_img/search-filter.png) no-repeat;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    left: 9px;
    z-index: 5;
}

.spc {
    padding: 6px 12px 6px 28px !important;
}

.add-btn, .delete-btn {
    background-color: #8181ce;
    width: 100px;
    height: 30px;
    border: 1px solid #8181ce;
    border-radius: 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 9px;
}

.Table {
    background-color: #d6e9c6;
}

.bootstrap-table .fixed-table-container label{
    margin: 0;
}

.bootstrap-table .fixed-table-container label input{
    vertical-align: middle;
}

th {
    font-weight: normal;
}

/* ssh
2019-2-1
复用 */
.modal-body {
    color: #666666;
}

.modal-label {
    width: 16%;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 15px;
    text-align: right;
    color: #666666;
}

.modal-body .form-group{
    margin: 0;
}

.modal-body .form-group .help-block{
    line-height: 16px;
}

.modal-body #modify-form {
    border: 1px solid #dedede;
    padding-top: 28px;
}

.modal-body #avatar-form {
    border: 1px solid #dedede;
    border-top: 0;
    padding-top: 28px;
}

#avatar_submit {
    margin: 0!important;
}

.new-project-input {
    width: 100% !important;
}

.input-delete {
    margin-right: 10px;
}

.inline1 {
    line-height: 30px;
    position: relative;
    padding-bottom: 28px;
}

.photo {
    width: 100px;
    height: 100px;
    border: 1px solid #dcdcdc;
    display: inline-block;
}

#pic1[src=""],#pic1:not([src]){
    opacity:0;
}

.photo-info {
    color: #999999;
    margin-left: 20px;
    position: relative;
    bottom: 15px;
}

/*.submit {
    position: relative;
    top: 113px;
}*/

.modal-dialog {
    width: 962px;
}

.modal-delete {
    width: 575px;
    text-align: center;
}

.modal-delete > .modal-content > .modal-body {
    line-height: 96px;
}

.delete {
    width: 42%;
}

.delete-info {
    text-align: center;
    margin-top: 12%;
    font-size: 16px;
    color: #333333;
}

#user-manager {
    display: none;
}

/*.modal-footer {
	padding: 10px 4% 10px 15px;
}*/

/*bootstrap-table*/
.usermanagement-table1 {
    width: 4.32%;
    padding-right: 0;
}

.usermanagement-table2 {
    width: 9.9%;
    padding-left: 0;
}

.usermanagement-table3 {
    width: 8.94%;
}

.usermanagement-table4,
.usermanagement-table5 {
    width: 21.26%;
}

.usermanagement-table6,
.usermanagement-table7,
.usermanagement-table8 {
    width: 7.98%;
}

.usermanagement-table9 {
    width: 5.195%;
}

.usermanagement-table9 > #edit {
    /*margin-right: 27px;*/
    cursor: pointer;
}

.usermanagement-table10 {
    width: 5.195%;
}

.nomove {
    background-image: url(../../assets/user-unselected.png); 
    float: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.nomove.all-selected {
    background-image: url(../../assets/user-selected.png); 
}
.error{
    font-size: 12px;
    color: red;
}
.detials{
    position: absolute;
    bottom: 2px;
    left: 115px;
}
.hidespan{
    display: none;
}

#upload {
    position: absolute;
    top: 0;
    opacity: 0;
}

/* Style for SweetAlert*/
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}
