<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/basic_img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/basic_img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/basic_img/favicon-16x16.png">
    <link rel="manifest" href="../assets/basic_img/site.webmanifest">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/Login/Login.css">
    <link rel="stylesheet" href="../plugins/bootstrapvalidator/css/bootstrapvalidator.min.css">
    <link href="//cdn.bootcss.com/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet">
    <script src="../plugins/caroursel/js/jquery-1.9.1.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
</head>
<body>
<div class="warpper">
    <div class="logo text-center">
        <div class="logo-wrapper">
            <div class="logo-png"></div>
            <p><span>连接代码数据</span><span>保障软件安全</span></p>
            <p>代码安全检测</p>
        </div>
    </div>
    <div class="login-content">
        <div class="login">
            <div class="title text-center">CoBOT 代码大数据安全分析平台</div>
            <form id="form" action="/userLogin" style="position:relative;">
                <div class="form-group">
                    <input class="form-control required" type="text" placeholder="登录名" id="loginName"
                           name="loginName" autofocus="autofocus"/>
                    <span id="msg" class="error details"></span>
                </div>

                <div class="form-group">
                    <input class="form-control required" type="password" placeholder="密码" id="password"
                           name="password"/>
                    <span id="tips" class="error details"></span>
                </div>
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox" name="remember" id="remember" checked/>记住我
                    </label>
                </div>
                <div class="form-group">
                    <button id="btnLogin" type="submit" class="btn btn-primary" name="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>