/*除去头尾的中间部分*/
.content {
    margin: 58px 0 30px;
    overflow-y: auto;
}

.displaynone {
	display: none !important;
}

.text-right {
	text-align: right;
	padding-left: 0 !important;
	width: 24%;
}

/*被使用次数*/
.Sphere {
	display: inline-block;
	background: #666666;
	border-radius: 2px;
	padding: 1px 5px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
}

/*标签*/
.project-name-label {
	width: 46px;
	height: 20px;
    background: #D8D8D8;
    border: 1px solid #979797;
	margin-left: 7px;
    font-size: 14px;
    color: #333333;
    padding: 0 2px;
}

/*项目名前标签*/
.ldID {
	display: inline-block;
	padding: 1px;
	font-size: 14px;
	min-width: 50px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}
.VnlnDB, .vnlndb {
	background: #FFB870;
}
.CVE, .cve {
	background: #B8CCE4;
}
.CoBOT, .cobot {
	background: #5F8AB5;
}
/*漏洞数*/
.loopholes {
	width: 27px;
	height: 20px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	line-height: 20px;
	cursor: pointer;
}
.loopholes+.loopholes{
	margin-left: 8px;
}
.labelH {
	background: #86252e;
}
.labelM {
	background: #ca8991;
}
.labelL {
	background: #8e908e;
}
.labelO {
	background: #cccccc;
}

/*查询input*/
.input-group {
	max-width: 239px;
}
.inquire-btn {
	background-color: #8181ce;
	width: 71px;
	height: 30px;
	border: 1px solid #8181ce;
	border-radius: 0;
	font-size: 14px;
	color: #ffffff;
	line-height: 9px;
}
.inquire-input {
	height: 30px;
	border-radius: 0;
	border: 1px solid #e8e8e8;
	box-shadow: none;
}

/*进度条*/
.progressBar {
	display: inline-block;
	overflow: hidden;
	background: #e8e8e8;
	width: 100px;
	height: 20px;
	text-align: left;
	box-shadow: none;
	vertical-align: middle;
	margin-left: 10px;
}
.progressHigh {
	background: #842126;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	min-width: 5px;
	float: left;
}
.progressMedium {
	background: #dd8088;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	min-width: 5px;
	float: left;
}
.progressLow {
	background: #979797;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	min-width: 5px;
	float: left;
}
.progressOther {
	display: inline-block;
	background: #ccc;
	min-width: 5px;
	height: 20px;
	vertical-align: middle;
	float: left;
}
.progressbar-num {
	display: inline-block;
	vertical-align: -2px;
	margin-left: 9px;
	min-width: 28px;
}

/*进度条表格*/
.border-none {
	border-top: none !important;
}

.xbt {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding-top: 25px;
}

.pointer-icon {
	cursor: pointer;
}
.table > thead > tr > th > .th-inner {
	font-size: 16px;
	position: relative;
	padding-top: 4px;
}
.table > thead > tr > th > .th-inner > img {
	margin-left: 4px;
	margin-top: 5px;
	position: absolute;
}

/* 面包屑 */
.directory-address {
	height: 20px;
	position: absolute;
	right: 48px;
	top: 12px;
	text-align: right;
}
.directory-address a{
	color: #909090;
}
.directory-address{
	clear: both;
	overflow: hidden;
}
.directory-address li{
	float: left;
	color: #909090;
}
.directory-address li:not(:last-child):after{
	content: "";
	display: inline-block;
	border-left: 7px solid #909090;
	border-top: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid transparent;
	vertical-align: -2px;
	margin: 0 3px 0 10px;
}

/* 模态框 */
.modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	margin: auto;
	-webkit-transform: translate(-50%, -50%) !important;
	-moz-transform: translate(-50%, -50%) !important;
	-ms-transform: translate(-50%, -50%) !important;
	-o-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
}
.modal-header, .modal-footer {
	background: #f7f7f9;
	font-size: 16px;
	height: 58px;
}
.modal-footer {
	padding: 0;
	text-align: center;
	border-top: none;
	background: #ffffff;
}
.yes-btn {
	background-color: #8181ce;
	width: 90px;
	height: 38px;
	border: 1px solid #8181ce;
	border-radius: 0;
	font-size: 16px;
	color: #ffffff;
	margin-left: 16px !important;
}
.no-btn {
	background-color: #f7f7f7;
	width: 90px;
	height: 38px;
	border: 1px solid #cdcdcd;
	border-radius: 0;
	font-size: 16px;
	color: #333333;
}
.yes-btn:hover {
	background: #6b74b7;
	color: #ffffff;
	border: 1px solid #6b74b7;
}
/*筛选小图标*/
.filter-icon-td{
	position: relative;
}
.filter-icon-div{
	background: url("../assets/func_img/filter-icon.png") no-repeat center;
	position: absolute;
	right: 40px;
	margin-top: 4px;
	width: 12px;
	height: 12px;
}
.purple,.purple:hover{
	color: #8181CE;
}
.filter-table tbody tr{
	cursor: pointer;
}
.Loophole-item .filter-table tbody tr{
	cursor: initial;
}
.Loophole-item .filter-table tbody tr+tr+tr {
	cursor: pointer;
}

/*bootstrap-table表格*/
.right-table{
	border: none;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.right-table>thead>tr{
	background: #e8e8e8;
	height: 44px;
	border-right: 1px solid #e8e8e8;
	border-left: solid #e8e8e8;
}
.right-table>thead>tr>th{
	line-height: 26px !important;
	font-size: 16px !important;
	border: none;
}
.right-table>tbody>tr{
	border: 1px solid #e8e8e8;
	height: 44px;
}
.right-table>tbody>tr>td{
	border: none;
}
.fixed-table-header{
	border-bottom: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.fixed-table-container{
	border: none !important;
}
.fixed-table-container thead th:first-child{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.user-management, .user-management:hover,
.nav-board, .nav-board:hover{
	color: #333333;
}

/** 可触发漏洞概念定义部分代码 开始 **/

.bootstrap-table .fixed-table-container .table thead th .th-inner {
	overflow: visible;
}

.trig-header {
	font-size: inherit;
	padding: 0 0.4em;
	cursor: help;
	font-style: normal;
	position: relative;
  
}
.trig-header::after {
	content: "漏洞涉及函数已被项目程序调用的漏洞";
	display: inline;
	position: absolute;
	top: 22px; left: 0;
	opacity: 0;
	width: 200px;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.5em;
	padding: 0.5em 0.8em;
	background: rgba(52,52,113,0.8);
	white-space:normal;
	color: #fff;
	pointer-events: none;
	transition: opacity 250ms, top 250ms;
}
.trig-header::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px; left: 20px;
	opacity: 0;
	width: 0; height: 0;
	border: solid transparent 5px;
	border-bottom-color: rgba(52,52,113,0.8);
	transition: opacity 250ms, top 250ms;
}
.trig-header:hover {z-index: 2;}
.trig-header:hover::after,
.trig-header:hover::before {opacity: 1;}
.trig-header:hover::after {top: 30px;}
.trig-header:hover::before {top: 20px;}

/** 可触发漏洞概念定义部分代码 结束 **/

/** swal弹窗样式 开始 **/
.sweet-alert .btn-lg.btn-primary{
	padding: 5px 20px !important;
	margin-top: 10px;
}
