* {
    font-family: "Microsoft YaHei";
}
ul, ol {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

/*input 字体颜色*/
input::-webkit-input-placeholder {
    color: rgba(102, 102, 102, 0.4) !important;
}
input:-moz-placeholder {
    color: rgba(102, 102, 102, 0.4) !important;
}
input::-moz-placeholder {
    color: rgba(102, 102, 102, 0.4) !important;
}
input:-ms-input-placeholder {
    color: rgba(102, 102, 102, 0.4) !important;
}

/*按钮active样式*/
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:hover {
    background: #6b74b7 !important;
    border: 1px solid #6b74b7 !important;
}
.btn-primary:visited {
    background: #8181ce !important;
    border: 1px solid #8181ce !important;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    font-size: 14px;
}
/* sweetalert class start 可耻的使用了!important,覆盖内联，升级sweetAlert2时解决*/
.sweet-alert button.confirm {
    background-color: #4962B3!important;
}
/* sweetalert class end*/