<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"
          id="viewport">
    <link rel="icon" type="image/x-icon" href="https://dn-coding-net-production-static.codehub.cn/platform/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon"
          href="https://dn-coding-net-production-static.codehub.cn/platform/favicon.ico">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/error.css">

    <title>404 Not Found</title>
    <link href="./404 Not Found_files/404.91f6e9f1.chunk.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div>
        <h1>404!</h1>
        <p class="summary">unauthorized页面，我找不到你，我找不到你啊～</p>
        <span th:text="${statusCode}"> </span>
    </div>
    <div class="buttons">
        <a class="btn btn-info button" href="../../views/Management.html">返回首页</a>
        <a class="btn btn-info button" href="../login">返回登录</a>
        <a class="btn btn-info button" href="../logout">退出登录</a>
    </div>
</div>
<script type="text/javascript" src="./404 Not Found_files/runtime_404.bcab3701.js.下载"></script>
<script type="text/javascript" src="./404 Not Found_files/404.09c18411.chunk.js.下载"></script>
</body>
</html>