@media screen and (max-width: 1366px) {
    .info {
        margin-bottom: 16px !important;
    }
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {
    .info {
        margin-bottom: 22px !important;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -40px !important;
    }
}

.div-module {
    padding: 28px 40px;
}

.a-name {
    padding-bottom: 9px !important;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.address-title {
    font-weight: bold;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #CDCDCD;
}
.address-active {
    background-color: #8181CE !important;
}

.info {
    color: #666666;
    margin-bottom: 18px;
}

.purple {
    color: #8181CE;
    cursor: pointer;
}

.text-nowrap-ellipsis {
    max-width: 176px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-p {
    position: relative;
}

.info-p-details {
    display: none;
}

.icon {
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
}

.edition {
    margin-left: 33px;
}

.CodeMirror {
    /*margin-top: 26px;*/
}

.text-header .title {
    background: #F8F8F8;
    padding-left: 36px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 26px;
}

.icons {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.content-left {
    height: 100%;
    padding: 0px;
}

.cont-right1 {
    height: 100%;
    padding-right: 0 !important;
}

.cont-right2 {
    height: 100%;
    padding: 0 !important;
}

.FileList {
    height: 34.8%;
    width: 100%;
    border: 1px solid #CDCDCD;
    padding: 0 8px 8px 8px;

}
.address-list{
    height: calc(100% - 35px);
    width: 105%;
    overflow: scroll;
}

.address-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /*background-color: #ddd;*/
}

/*滑块*/
.address-list::-webkit-scrollbar-thumb {
    transform: rotate(-90deg);
    background: #CBCBCB;
    border-radius: 4px;
}

.address-list::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}


.address {
    color: #666666;
    margin: 10px 0;
    cursor: pointer;
    padding-left: 5px;
}

.address:hover {
    background-color: #8181CE;;
    color: #fff;
}

.count-container {
    margin: 10px 0px;
}

